<div class="cart-box-order">
<div class="row">
  <div class="col-md-12">

    <h2 class="cart-title"> 订单明细 </h2>

        <div class="cart-table-title">
          <span class="name" width="80%" colspan="2">商品明细</span>
          <span class="price">单价</span>
        </div>

        <div class="cart-table">
        <% @product_lists.each do |product_list| %>
             <div class="cart-group">
             <div class="cart-box-image">
              <%= link_to products_path do %>
               <% if product_list.product_image.present? %>
                 <%= image_tag(product_list.product_image, class: "thumbnail") %>
               <% else %>
                 <%= image_tag("http://placehold.it/80x80&text=No Pic", class: "thumbnail") %>
               <% end %>
              <% end %>
             </div>
            <div class="cart-name">
              <%= product_list.product_name %>
            </div>
            <div class="cart-price">
              <%= product_list.product_price %>
            </div>
            </div>
        <% end %>
        </div>


    <div class="total clearfix">
      <span class="pull-right">
        总计 <%= @order.total %> CNY
      </span>
    </div>

     <hr>

     <h2> 寄送资讯 </h2>

     <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td>
            收件人
          </td>
        </tr>
        <tr>
          <td>
            <%= @order.shipping_name %> - <%= @order.shipping_address %> - <%= @order.shipping_contact_information %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pull-left">
      <% if @order.order_placed? || @order.paid? %>
        <%= link_to("申请取消订单", apply_to_cancel_order_path(@order.token), method: :post, class: "btn  btn-info") %>
      <% end %>
    </div>

    <% if !@order.is_paid? %>
    <div class="group pull-right">
      <%= link_to("去支付", payment_path(@order.token), :class => "btn btn-danger") %>
    </div>
    <% elsif @order.order_cancelled? %>
      <p class="text-center">此订单已取消</p>
    <% else %>
      <p class="text-center">此订单已完成付款,商品正在出库中</p>
    <% end %>

  </div>
</div>
</div>
