<div class="cart-box">
    <h2 class="cart-title"> 购物清单 </h2>
        <div class="cart-table-title">
          <span class="name">商品信息</span>
          <span class="price">单价</span>
          <span class="num">数量</span>
          <span class="subtotal">小计</span>
          <span class="operation">操作</span>
        </div>

        <div class="cart-table">
          <% current_cart.cart_items.each do |cart_item| %>
          <div class="cart-group">
            <div class="cart-box-image">
              <%= link_to product_path(cart_item.product) do %>
                <% if cart_item.product.image.present? %>
                  <%= image_tag(cart_item.product.image.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/80x80&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </div>
            <div class="cart-name">
              <%= link_to(cart_item.product.title, product_path(cart_item.product), class: "cart-title-custom") %>
            </div>
            <div class="cart-price">
                ¥ <%= cart_item.product.price %>.00
            </div>
            <div class="cart-num">
              <%= form_for cart_item, url: cart_item_path(cart_item.product_id) do |f| %>
                <%= f.select :quantity, 1..cart_item.product.quantity %>
                <%= f.submit "更新", data: { disable_with: "Submiting..." } %>
              <% end %>
            </div>
            <div class="cart-subtotal">
                ¥ <%= cart_item.quantity * cart_item.product.price %> .00
            </div>
            <div class="cart-operation">
              <%= link_to cart_item_path(cart_item.product_id), method: :delete do %>
                <i class="fa fa-times-circle-o"></i>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
  <div class="cart-bottom">
      <span>
        <% if current_cart.total_price > 0 %>
          <%= link_to("确认结账", checkout_carts_path, method: :post, class: "btn-primary-cart pull-right") %>
        <% else %>
          <%= link_to("添加商品", products_path, method: :get, class: "btn-primary-cart pull-right") %>
        <% end %>
      </span>
     <div class="bottom-font pull-right">
      <span class="bottom-total">
            应付总额: <span class="bottom-num">￥<%= render_cart_total_price(current_cart) %>.00</span>
      </span>
      <br>
      <span class="bottom-total-detail">
            应付总额不含运费
      </span>
     </div>
  </div>
</div>
