<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :description_detail %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :advantage %>
  </div>

  <div class="group">
    <%= f.input :repertoire %>
  </div>

  <div class="group">
    <%= f.input :technical_parameters %>
  </div>

  <div class="group">
    <%= f.input :adaptive %>
  </div>

  <% if @product.image.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <% if @product.image_second.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image_second.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image_second, as: :file %>
  </div>

  <% if @product.image_third.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image_third.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image_third, as: :file %>
  </div>

  <% if @product.image_fourth.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image_fourth.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image_fourth, as: :file %>
  </div>

  <% if @product.image_fifth.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(@product.image_fifth.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image_fifth, as: :file %>
  </div>

  <%= f.input :is_hidden, label: "上架" %>


  <% if @categories.present? %>

    <div class="group">
      商品分类
      <%= select_tag(:category_id, options_for_select(@categories))%>
    </div>

    <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

  <% else %>
    <%= link_to("新增商品分类", new_admin_category_path) %>
  <% end %>

<% end %>
