<h2> New Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <%= f.input :is_hidden, label: "下架该商品"  %>

  <% if @categories.present? %>

    <div class="group">
      商品分类
      <%= select_tag(:category_id, options_for_select(@categories))%>
    </div>

    <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

  <% else %>
    <%= link_to("新增商品分类", new_admin_category_path) %>
  <% end %>


<% end %>
