<h2> 新增商品 </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <div class="group">
    <%= f.input :title, label: "游戏名称" %>
  </div>

  <div class="group">
    <%= f.input :description, label: "基本介绍" %>
  </div>

  <div class="group">
    <%= f.input :description_detail, label: "故事背景" %>
  </div>

  <div class="group">
    <%= f.input :quantity, label: "数量" %>
  </div>

  <div class="group">
    <%= f.input :price, label: "价格" %>
  </div>

  <div class="group">
    <%= f.input :advantage, label: "上市时间" %>
  </div>

  <div class="group">
    <%= f.input :repertoire, label: "供应商" %>
  </div>

  <div class="group">
    <%= f.input :technical_parameters, label: "画面" %>
  </div>

  <div class="group">
    <%= f.input :adaptive, label: "游戏大小" %>
  </div>

  <div class="group">
    <%= f.input :image, label: "游戏展示图", as: :file %>
  </div>

  <hr class="hr-bottom">

  <div class="group">
    <%= f.input :image_second, label: "详情页头图", as: :file %>
  </div>

  <hr class="hr-bottom">

  <div class="group">
    <%= f.input :image_third, label: "游戏界面图1", as: :file %>
  </div>

  <hr class="hr-bottom">

  <div class="group">
    <%= f.input :image_fourth, label: "游戏界面图2", as: :file %>
  </div>

  <hr class="hr-bottom">

  <div class="group">
    <%= f.input :image_fifth, label: "游戏界面图3", as: :file %>
  </div>

  <%= f.input :is_hidden, label: "下架该商品"  %>

  <% if @categories.present? %>

    <div class="group">
      商品分类
      <%= select_tag(:category_id, options_for_select(@categories))%>
    </div>

    <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

  <% else %>
    <%= link_to("新增商品分类", new_admin_category_path) %>
  <% end %>


<% end %>
