<br><br>
<div class="container-fluid">
  <div class="product-top">
    <%= link_to("商城首页", root_path, class: "show-link") %>  /  <%= link_to("商品列表", products_path, class: "show-link") %>  /  <%= @product.title %>
  </div>
  <div class="product-image">
    <div class="col-md-12">
      <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
      <% else %>
        <%= image_tag("http://placehold.it/595x396&text=No Pic", class: "thumbnail") %>
      <% end %>
    </div>
  </div>
  <div class="product-font">
      <h2> <%= @product.title %> </h2>
      <div>
        数量 : <%= @product.quantity %>
      </div>
      <div class="product-price">
         ￥ <%= @product.price %>
      </div>
      <div>
        <% if @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
        <% else %>
          已销售一空，无法购买
        <% end %>
      </div>
  </div>
  <div class="product-description">
    <hr>
    <p>
      <%= @product.description %>
    </p>
  </div>
</div>
