<div class="product-top mt-4">
  <%= link_to("商城首页", root_path, class: "show-link") %>  /  <%= link_to("商品列表", products_path, class: "show-link") %>  /  <%= @product.title %>
</div>

<div class="row product-show">
  <div class="col-8">
    <div class="product-image">
        <% if @product.image_second.present? %>
          <%= image_tag(@product.image_second.url, class: "image_second") %>
        <% else %>
          <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "image_second") %>
        <% end %>
    </div>
  </div>
  <div class="col-4">
    <div class="product-font">
        <div class="product-title">
            <%= @product.title %>
        </div>
        <hr class="hr-top-show">
        <div class="product-postage">
           上市时间
          <span class="product-postage-free"><%= @product.advantage %></span>
        </div>
        <div class="product-postage-two">
           供应商
          <span class="product-postage-free-two"><%= @product.repertoire %></span>
        </div>
        <div class="product-postage">
           画　　面
          <span class="product-postage-free"><%= @product.technical_parameters %></span>
        </div>
        <div class="product-postage">
           游戏大小
          <span class="product-postage-free"><%= @product.adaptive %></span>
        </div>
        <div class="product-postage">
           所属分类
          <span class="product-postage-free"><%= @product.category.name %></span>
        </div>
        <hr class="hr-top-show-two">
        <div class="product-price">
          ￥<%= @product.price %>.00
        </div>
        <div class="product-button">
          <% if @product.quantity > 0 %>
            <%= link_to("购买游戏", add_to_cart_product_path(@product), :method => :post, class: "btn btn-primary btn-primary-custom") %>
          <% else %>
            已销售一空，无法购买
          <% end %>
        </div>
        <div class="product-delivery">
          发货时间:购买后立刻发货
        </div>
    </div>
  </div>
</div>
<div class="product-description-title">
  游戏介绍
</div>
  <hr class="hr-top">
<div class="product-card">
<div class="row product-description-style">
  <div class="col-12">
    基本介绍
  </div>
    <div class="col-12">
      <div class="product-description">
        <%= simple_format(@product.description) %>
      </div>
    </div>
</div>
    <hr class="hr-bottom">
<div class="row product-description-style">
  <div class="col-12">
    故事背景
  </div>
    <div class="col-12">
      <div class="product-description">
        <%= simple_format(@product.description_detail) %>
      </div>
    </div>
</div>
    <hr class="hr-bottom">
    <div class="product-image-bottom">
        <% if @product.image_third.present? %>
          <%= image_tag(@product.image_third.url, class: "product-image-bottom") %>
        <% else %>
          <%= image_tag("http://placehold.it/860x483&text=No Pic", class: "product-image-bottom") %>
        <% end %>
    </div>
    <div class="product-image-bottom">
        <% if @product.image_fourth.present? %>
          <%= image_tag(@product.image_fourth.url, class: "product-image-bottom") %>
        <% else %>
          <%= image_tag("http://placehold.it/860x483&text=No Pic", class: "product-image-bottom") %>
        <% end %>
    </div>
    <div class="product-image-bottom">
        <% if @product.image_fifth.present? %>
          <%= image_tag(@product.image_fifth.url, class: "product-image-bottom") %>
        <% else %>
          <%= image_tag("http://placehold.it/860x483&text=No Pic", class: "product-image-bottom") %>
        <% end %>
    </div>
</div>
