<!DOCTYPE html>
<html>
<head>
  <title>JDstore 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "common/navbar" %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 mt-5">
        <div class="list-group">
          <%= active_link_to("商品管理", admin_products_path, class: "list-group-item list-group-item-action") %>
          <%= active_link_to("订单管理", admin_orders_path, class: "list-group-item list-group-item-action") %>
          <%= active_link_to("用户管理", admin_users_path, class: "list-group-item list-group-item-action") %>
          <%= active_link_to("分类管理", admin_categories_path, class: "list-group-item list-group-item-action") %>
        </div>
      </div>
      <div class="col-md-10 mt-5">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
